.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainheader{
    background-color:  #FFFFFF;
    width: 490px;
    height: 100px;
    margin: -10px auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(140, 140, 140, 0.2), 
            0 2px 3px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
}


.divs{
    width: 1000px;
    display: flex;
    justify-content: end;
  
}

.loading{
       color: #0077B5;
}
.PostImage{
    width: 500px;
    margin: 0 auto;
    height: 600px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(140, 140, 140, 0.2), 
            0 2px 3px rgba(0, 0, 0, 0.05);
   
}
.PostThoughts{
    width: 500px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 0 1px rgba(140, 140, 140, 0.2), 
            0 2px 3px rgba(0, 0, 0, 0.05);
            margin-bottom: 10px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* objectFit: cover; */
    border: 2px solid #ddd;
    margin: 10px 20px 0 10px;
}



.profileCard{
    display: flex;
    align-items: center;
}

.image{
    width: 500px;
    height: 400px;

}

.postInput{
    width : 80%;
    border-radius: 60px;
    padding: 15px  ;
    background-color: transparent;
    border: 1px solid rgb(187, 185, 185);
    color: rgb(80, 76, 76);
    text-align: left;
    padding-left: 20px;
}

.icons{
    border-top: 1px solid rgb(207, 200, 200);
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    align-items: center;
    font-size: 13px;
    
}

.icon{
    display: flex;
    align-items: center;
}
span{
    margin-left: -2px;
}

.modal{
    position: fixed; 
    z-index: 1; 
    padding-top: 5px;
    /* left: 33%; */
    top: 100px; 
    width: 40%;
    height: 40%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: #FFFFFF;
        box-shadow: 0 0 0 1px rgba(140, 140, 140, 0.2), 
            0 2px 3px rgba(0, 0, 0, 0.05);
}